// Main colors

$background-color: #363640;

// Text colors

$background-text-color: #FFF;
$surface-text-color: #FFF;

// Icon colors

$background-icon-color: rgba(#FFF, .6);
$surface-icon-color: rgba(#FFF, .6);
