@import "./custom.scss";

html {
  position: relative;
  min-height: 100vh;
}

html, body {
  font-family: 'Bai Jamjuree', sans-serif;
}

#app > div {
  position: fixed;
  top: 56px;
  height: calc(100vh - 97.59px);
  overflow-y: auto;
}
