@import "~bootstrap/scss/bootstrap";

html {
  position: relative;
  min-height: 100vh;
}

html, body {
  background-color: #EEEEEE;
}

#app > div {
  position: fixed;
  top: 56px;
  height: calc(100vh - 97.59px);
  overflow-y: auto;
}
